
.top_nav {
    background-color: rgb(39, 54, 95);
    height: 65px;
  }
  
  .title-holder {
    padding-top: 18px;
    padding-left: 2px;
    h2 {
      font-weight: bold;
      line-height: 20px;
    }
    p {
      line-height: 0;
      /*color: rgb(10, 10, 10);*/
    }
  }
  
  .highlight {
    color: rgb(252, 115, 74);
  }
  
  .left_col {
    background-color: rgb(52, 69, 119);
    height: 92.5vh;
    padding: 0;
  }
  
  .profile {
    background-image: url("/img/profile-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 186px;
  }
  
  .profile_pic {
    width: 35%;
    float: left;
  }
  
  .img-circle.profile_img {
    width: 80%;
    background: rgba(46, 62, 109, 1);
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 3px solid rgba(46, 62, 109, 1);
    padding: 4px;
    border-radius: 50%;
  }
  
  .profile_info {
    padding: 30px 5px 15px;
    width: 65%;
    float: left;
    span {
      font-size: 13px;
      line-height: 30px;
      color: white;
      font-weight: bold;
    }
    h2 {
      font-size: 14px;
      line-height: 0;
      color: rgb(10, 10, 10);
      margin: 0;
      font-weight: 300;
    }
  }
  
  .main_menu_side {
    padding: 0;
  }
  
  .menu_section {
    padding: 0;
    h5 {
      padding: 5px;
      color: rgb(2, 117, 216);
    }
    ul {
      display: block;
      text-align: center;

      li {
            padding: 10px;
            // margin: 5px;
            // background-color: $purple;
            color: $white;
            text-align: left;
            a {
                color: $white;
                &:hover {
                    text-decoration: none;
                }
            }
            &:hover {
                background-color: $purple;
                cursor: pointer;
            }
        }
    }

    
  }

  
  .badge.bg-orange {
    background: rgb(252, 115, 74) !important;
    border: 1px solid rgb(252, 115, 74) !important;
    color: #fff;
  }
  
  .pull-right {
    float: right !important;
  }
  
  .pull-left {
    float: left !important;
  }

  .right_col {
      background-color: $white;
      height: 92.5vh;
  }